@{
    ViewBag.Title = "Pagina Principal";
}

<div style="background-color:floralwhite" class="jumbotron">
    <h1 style="color:blue ;text-align:center ">Universidad de Contoso</h1>
    <p class="lead">Pato</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Construir desde cero</h2>
        <p>
            Puedes construir la aplicacion siguiendo los pasos del tutorial en el sitio de ASP.NET
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Descargalo</h2>
        <p>Puedes descargar el proyecto completado.</p>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Descargar &raquo;</a></p>
    </div>
</div>